.Experience{
    color: white;
    margin-top: 4rem;
    display: flex;
}

.column {
    flex: 33%;
}

.experienceButtonContainer{
    margin: 1px;
    padding: 20px;
    border: solid 2px white;
    border-radius: 5%;
}

.ExperienceSection{
    margin: 1px;
    padding: 20px;
    border: solid 2px white;
    border-radius: 5%;
}



